/* 
1. Make buttons look good
    - clear button red
    - backspace button light purple 
    - Equals to sign orange 

2. Make display look good
3. Add an overall theme to the calculator 
4. 


*/

.holder{
    display: flex;
    justify-content: center;

}

.calculator {
    display: flex;
    width: 400px;
    /* height: 700px; */
    justify-content: center;
    background-color: aqua;
    flex-direction: column;
    /* left: 50% */
    border: 5px solid yellow 
}

.display {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: forestgreen;
}
/* Numbers Start */
.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff4500;
    flex-wrap: wrap;
    height: 185px;
    width: 140px;
}

.numbers>* {
    height: 40px;
    width: 40px;
    padding: 5px;

}
/* Numbers End */

/* Operators Start */
.operators {
    display:flex;
    height: 160px;
    width: 50px;
    background-color:blueviolet;
    flex-direction: column
}

.operators>* {
    height: 40px;
    width: 40px;
    padding: 1px;
}
/* Operators End */

/* Functions start */
.functions{
    display: flex;
    height: 160px;
    width: 100px;
    background-color: gold;
    flex-direction: column
}

.functions>* {
    height: 40px;
    width: 100px;
    padding: 10px;
}
/* Functions End */