/* 
1. Make buttons look good
    - clear button red
    - backspace button light purple 
    - Equals to sign orange 

2. Make display look good
3. Add an overall theme to the calculator 
4. 


*/

body {
    background-color: #001253;
}

.holding_display {
    width: 350px;
    height: 20px;
    background-color: #5F9DF7;
    border-top: 1px solid #EB6440;
    border-right: 1px solid #EB6440;
    border-left: 1px solid #EB6440;

}

.result_display {
    width: 350px;
    height:20px;
    background-color: #5F9DF7;
    border-bottom: 1px solid #EB6440;
    border-right: 1px solid #EB6440;
    border-left: 1px solid #EB6440;
}

.holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: 100%;
    background-color: #001253

}

.calculator {
    display: flex;
    width: 350px;
    /* height: 700px; */
    justify-content: center;
    background-color: #3E6D9C;
    flex-direction: column;
    /* left: 50% */
    border: 5px solid #3E6D9C;
    box-shadow: 10px 10px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    background-color: #3E6D9C;
}
/* Numbers Start */
.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E6D9C;
    flex-wrap: wrap;
    height: 185px;
    width: 140px;
}

.numbers>* {
    height: 40px;
    width: 40px;
    padding: 5px;
    background-color: #628E90;
}

/* Numbers End */

/* Operators Start */
.operators {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
    flex-wrap: wrap;
    height: 185px;
    width: 50px;
}

.operators>* {
    height: 40px;
    width: 40px;
    padding: 5px;
}
/* Operators End */

/* Functions start */
.functions{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E6D9C;
    flex-wrap: wrap;
    height: 50px;
    width: 300px;
}

.functions>* {
    height: 40px;
    width: 100px;
    padding: 10px;
}
/* Functions End */